@import url(reset.css);
@import url(padrao.css);
.pagina-login{
    background-color: #CAEBEC;
}
.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-login{
    background-color: #F8F0C4;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.form-login button{
    margin-top: 20px;
    width: 80%;
    padding: 10px;
    border-color: #b8d7d8;
    border-radius: 10px;
    background-color: #CAEBEC;
}
.form-login button:hover{
    background-color: #c2dcdd;
}
.campo-input{
    width: 250px;
    height: 50px;
    position: relative;
    margin: 1.5rem 0;
}
.campo-input input{
    position: absolute;
    inset: 0;
    background-color: transparent;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid rgb(139, 133, 90);
    border-radius: .5rem;
    color: black;
}
.campo-input label{
    position: relative;
    top: 30%;
    left: 1rem;
    transform: translateY(-30%);
    color: rgb(0, 0, 0);
    pointer-events: none;
    padding: 0 .3rem;
    background-color: #F8F0C4;
    transition: 200ms ease-in-out top,
                200ms ease-in-out font-size,
                200ms ease-in-out font-color;
}
.campo-input input:focus + label,
.campo-input input:valid + label{
    top: -10px;
    font-size: .8rem;
    color: black;   
}